@{
    Layout = "_Layout1";
}

@model IEnumerable<Product>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

@{
    ViewData["Title"] = "Manage Products";
}
<div class="container mt-5">

    <h2>@ViewData["Title"]</h2>

    <!-- زر إضافة مستخدم -->
    @* <a href="@Url.Action("Create", "Admin")" class="btn btn-primary mb-3">Add New User</a> *@
    <!-- زر فتح نافذة الـ Modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createProductModal">
        Add Product
    </button>
    <!-- نافذة Modal لإنشاء المستخدم -->
    <div class="modal fade" id="createProductModal" tabindex="-1" aria-labelledby="createUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createUserModalLabel">Add New Product</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form asp-action="CreateProduct" method="post" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="Name" class="form-label">Name</label>
                                <input type="text" class="form-control" id="Name" name="Name" required />
                            </div>
                            <div class="mb-3">
                                <label for="Price" class="form-label">Price</label>
                                <input type="Price" class="form-control" id="Price" name="Price" required />
                            </div>
                            <div class="mb-3">
                                <label for="Description" class="form-label">Description</label>
                                <input type="password" class="form-control" id="Description" name="Description" required />
                            </div>
                            <div class="mb-3">
                                <label for="ProductImage" class="form-label">Upload  Image</label>
                                <input type="file" class="form-control" id="ProductImage" name="ProductImage" accept="image/*">
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Add product</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Product in Model)
            {
                <tr>
                    <td>@Product.Name</td>
                    <td>@Product.Price</td>
                    <td>@Product.Description</td>
                    <td>
                        <!-- زر تعديل المستخدم -->
                        <a href="@Url.Action("EditProduct", "Admin", new { id = Product.Id })" class="btn btn-warning">Edit</a>

                        <!-- زر حذف المستخدم -->
                        <a href="@Url.Action("DeleteProduct", "Admin", new { id = Product.Id })" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this user?')">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


