@model List<Product>
@section Style{
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
}
<h1 style="text-align:center">Products</h1>
<div style="display: grid; grid-template-columns: repeat(4, 1fr); gap: 10px;">
    @foreach (var product in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="@product.Image" class="card-img-top" alt="..." style="height:200px;">
            <div class="card-body">
                <h5 class="card-title">@product.Name</h5>
                <p class="card-text">@product.Description</p>
                <h5 class="card-title">@product.Price</h5>
                <a href="@Url.Action("Details", "Product" , new { id=product.Id })" class="btn btn-info">View Details</a>
            </div>
        </div>
    }
</div>          

</div>